<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
   
 
  <!-- <ko-stage [config]="configStage">
    <ko-layer>
      <ko-regular-polygon [config]="configRegularPolygon"></ko-regular-polygon>
    </ko-layer> 
    <ko-layer>
      <ko-regular-polygon [config]="configRegularPolygon2"></ko-regular-polygon>
    </ko-layer> 
    <ko-layer>
      <ko-regular-polygon [config]="configRegularPolygon3"></ko-regular-polygon>
    </ko-layer> 
    <ko-layer>
      <ko-regular-polygon [config]="configRegularPolygon4"></ko-regular-polygon>
    </ko-layer> 
    <ko-layer>
      <ko-regular-polygon [config]="configRegularPolygon5"></ko-regular-polygon>
    </ko-layer> 
  </ko-stage>   -->
  <!-- <ko-stage [config]="configStage">
<span *ngFor="let item of poly">
    <ko-layer>
        <ko-regular-polygon [config]=item></ko-regular-polygon>
      </ko-layer>

    </span>

     
  </ko-stage>
  <ko-stage [config]="configStage2">
    <span *ngFor="let item of poly">
        <ko-layer>
            <ko-regular-polygon [config]=item></ko-regular-polygon>
          </ko-layer>
    
        </span>
    
         
      </ko-stage>
      <ko-stage [config]="configStage">
        <span *ngFor="let item of poly">
            <ko-layer>
                <ko-regular-polygon [config]=item></ko-regular-polygon>
              </ko-layer>
        
            </span>
        
             
          </ko-stage>
 </div> -->
  
<!-- <app-movies-page></app-movies-page> -->
<app-kay></app-kay>
<router-outlet></router-outlet>
